* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input[type="checkbox"] {
  margin-right: 0.2em;
}

.dialog {
  z-index: 5;
}

.repl {
	display: flex;
  flex-direction: column;
  align-items: stretch;
}

.repl-horiz {
  display: flex;
  flex-direction: row;
}

.repl-options {
  width: 200px;
  overflow: scroll;
  height: 100vh;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 13px;
}

h3,
h4,
ul {
  margin-top: .5em;
  margin-bottom: .5em;
}

ul {
  padding: 0;
  list-style: none;
}

.repl-main {
  flex: 1;
  display: flex;
  position: relative;
}

.repl-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
}

.repl-box textarea {
  flex: 1;
  outline: none;
  border: 1px solid #f1f1f1;
}

.error {
  color: #c7254e;
}

.output-box {
  font-size: 10px;
  margin: 0;
  padding: .5em;
  background: #f1f1f1;
}

.plugin-options {
  font-size: 10px;
  margin-left: .5em;
}

.editor-wrapper {
  flex-grow: 1;
}

.repl-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em;
  background: black;
  color: white;
}

.repl-top-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.repl-top-options li {
  margin-right: .5em;
}

.filter-input {
  width: 100%;
}
